.reddit-icon {
  width: 100px;
  cursor: pointer;
}
.modal-content {
  margin-top: 65px;
}
.modal-body {
  background-color: #edeff1;
}
/* Topic */
.topic-choose {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 75px;
  margin-right: 5px;
  padding: 5px;
  border-radius: 25px;
  cursor: pointer;
}
.topic-choose-active {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 75px;
  margin-right: 5px;
  padding: 5px;
  border-radius: 25px;
  background-color: #f6f7f8;
  color: lightblue;
  cursor: pointer;
}
.topic-choose:hover {
  background-color: lightgray;
}
.header-card {
  background-color: #014980;
  color: white;
  font-weight: bold;
  padding: 10px;
}
.body-card {
  padding: 10px;
  font-weight: bold;
}
.community-content{
  flex: 1
}
.community-foot{
  border-top: 1px solid #a7b1b1;
  margin-top: 10px;
  padding-top: 5px;
  display: flex;
  align-items: center;
  font-weight: 500;
}

/* Post Card */
.post-card {
  cursor: pointer;
}
.post-card:hover {
  border: 1px solid black;
}
.up-down-vote {
  min-width: 50px;
  margin: 0 auto;
  text-align: center;
}
svg.up-vote:hover {
  fill: orange;
  background-color: lightgoldenrodyellow;
  cursor: pointer;
}
svg.down-vote:hover {
  fill: blue;
  background-color: lightblue;
  cursor: pointer;
}
.post-header {
  font-size: 12px;
  color: rgb(120, 124, 126);
  display: flex;
  align-items: center;
}
.post-ava {
  height: 16px;
  width: 16px;
  vertical-align: top;
}
.post-user-link {
  cursor: pointer;
}
.post-user-link:hover {
  text-decoration: underline;
}
.post-time {
  cursor: pointer;
}
.post-time:hover {
  text-decoration: underline;
}
.post-title {
  font-size: 18px;
  font-weight: 500;
  line-height: 22px;

  color: #9b9b9b;
  display: inline;
  padding-right: 5px;
  word-wrap: break-word;
}

.post-tag {
  background-color: rgb(237, 239, 241);
  color: rgb(26, 26, 27);
  border-radius: 20px;
  padding: 2px 8px;
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  display: inline-block;
  margin-right: 5px;
  overflow: hidden;
  text-overflow: ellipsis;
  vertical-align: text-bottom;
  white-space: pre;
  word-break: normal;
  margin-left: 0;
  cursor: pointer;
  width: fit-content;
}
.post-content {
  max-height: 250px;
}
.post-text {
  color: rgb(26, 26, 27);
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  word-break: break-word;
  overflow: auto;
  padding-bottom: 1px;
  margin-bottom: -1px;
}
.post-comment {
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  margin-right: 5px;
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
}
.comment {
}
.post-comment:hover {
  background-color: lightgray;
}
/* Post detail */
.post-card-detail {

}
.post-card-detail:hover {
}

.post-title-detail {
  font-size: 18px;
  font-weight: bold;
  line-height: 22px;

  color: black;
  display: inline;
  padding-right: 5px;
  word-wrap: break-word;
}
.detail-modal-title {
  align-items: center;
  box-sizing: border-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  margin: auto;
  max-width: 1128px;
  width: 100%;
  color: white;
}
.modal-header {
  background: #030303;
}
.detail-vote {
  border-left: 1px solid white;
  border-right: 1px solid white;
  padding: 0 10px;
}
.post-header-detail {
  font-size: 12px;
  color: white;
}

.post-tag-detail {
  background-color: rgb(237, 239, 241);
  color: rgb(26, 26, 27);
  border-radius: 5px;
  padding: 2px 8px;
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  display: inline-block;
  margin-right: 5px;
  overflow: hidden;
  text-overflow: ellipsis;
  vertical-align: text-bottom;
  white-space: pre;
  word-break: normal;
  margin-left: 0;
  cursor: pointer;
  width: fit-content;
}
.detail-close {
  width: 80px;
  color: white;
  cursor: pointer;
}
.post-ava-group {
  height: 20px;
  width: 20px;
  vertical-align: top;
  border-radius: 100%;
}
.group-name {
  font-weight: bold;
  color: #1c1c1c
}
.post-title-detail-header {
  font-size: 14px;
  font-weight: bold;
  line-height: 18px;

  color: #d7dadc;
  display: inline;
  padding-right: 5px;
  word-wrap: break-word;
}
.makeStyles-content-2.makeStyles-contentShift-3 {
  padding-left: 0;
  padding-right: 0;
}
.makeStyles-fakeToolbar-4 {
  min-height: 40px;
}